@page "/TeacherDeatails"
@inject HttpClient Http
@inject IDialogService DialogService

<MudGrid Class="my-1">
<h3>Teacher Deatails</h3>
<MudSpacer/>
<MudItem>
        <MudNavLink Href="teacher" Match="NavLinkMatch.Prefix"> <u>Back</u></MudNavLink>
</MudItem>
</MudGrid>

<MudTable Items="@getClassTeacher" Hover="true" Breakpoint="Breakpoint.Sm" FixedHeader Dense Height="400px">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Age</MudTh>
        <MudTh>Subject</MudTh>
        <MudTh>Discription</MudTh> 
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.Age</MudTd>
        <MudTd>@context.Subject</MudTd>
        <MudTd>@context.Discripation</MudTd>            
        <MudTd>
            <MudTooltip Text="Edit/Delete" Placement="Placement.Right">
                <MudIconButton OnClick="@((e) => OpenDialog(context.Id))" Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" />
            </MudTooltip>
        </MudTd>
    </RowTemplate>
</MudTable>


@code {
    List<ClassTeacher> getClassTeacher = new List<ClassTeacher>();
    DialogOptions customScreen = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true, CloseButton = true };

    protected override async Task OnInitializedAsync()
    {
        getClassTeacher = await Http.GetFromJsonAsync<List<ClassTeacher>>("api/ClassTeachers/getAllTeachersDetails");
    }

    private async Task OpenDialog(int detailID)
    {
        var dialogParameter = new DialogParameters();
        dialogParameter.Add("teacherID", detailID);
        var result = DialogService.Show<_EditDeleteDialog>("Edit/Delete", dialogParameter, customScreen);
        var responce = await result.Result;
        if (!responce.Cancelled)
        {
            await OnInitializedAsync();
        }
    }
}
